@import "tailwindcss";

@theme {
  --color-coral: #f26a4b;
  --color-coral-light: #fde8e1;
  --color-teal: #1a7f8e;
  --color-teal-light: #d6f0f3;
  --color-beige: #fdf9f6;
  --font-rubik: "Rubik", sans-serif;
  --font-dm: "DM Sans", sans-serif;
}

body {
  background-color: #fdf9f6;
  color: #1c1c1c;
}
